table {
  border-spacing: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

thead {
  font-family: 'Helvetica Neue';
  font-weight: 500;
  font-size: 16px;
  line-height: 19.54px;
  color: var(--white-neutral);
  text-transform: uppercase;
}

thead tr {
  height: var(--thead-height);
}

tbody tr {
  height: 48px;
}

tbody tr td img {
  height: 34px;
  width: 34px;
  object-fit: contain;
  border-radius: 50%;
}

td, th {
  text-align: left;
}