table {
  border-spacing: 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

thead {
  font-family: Helvetica Neue;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.54px;
  color: var(--white-neutral);
  text-transform: uppercase;
  background-color: var(--blue-primary);
}

thead tr {
  height: 47px;
}

thead tr  div {
}

thead tr td {

}

tbody {

}

tbody tr {
  height: 48px;
}

tbody tr td {

}

tbody tr td img {
  height: 34px;
  width: 34px;
  object-fit: contain;
  border-radius: 50%;
}

td, th {
  text-align: left;
}