thead tr h2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 15.81px;
  letter-spacing: 0;
}

thead tr th.sortable {
  cursor: pointer;
}

.header-cell {
  padding-right: 12.5px;
}

.white-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--white-neutral);
}
