input {
  width: 287px;
}

.table-wrapper {
  overflow: auto;
  border-radius: 8px;
}

.table-wrapper table {
  width: 100%;
  background-color: var(--white-neutral);
}

wbr + span {
  white-space: pre;
}

tr th {
}

tr th:not(:first-child):not(:last-child),
tr td:not(:first-child):not(:last-child) {
  padding-left: 2px;
  padding-right: 2px;
}

tr th:nth-child(1), 
tr td:nth-child(1) {
  padding-left: 2rem;
  padding-right: 4px;
  /* total 1330px na tela */
  /* total 960px */
  /* width: 7.75rem; */
  width: 12.916%;
}

tr th:nth-child(2), 
tr td:nth-child(2) {
  /* width: 14.375rem; */
  width: 23.958%;
}

tr th:nth-child(3), 
tr td:nth-child(3) {
  /* width: 187px; */
  width: 19.479%;
}

tr th:nth-child(4), 
tr td:nth-child(4) {
  /* width: 216px */
  width: 22.5%;
}

tr th:nth-child(5), 
tr td:nth-child(5) {
  padding-left: 4px;
  padding-right: 8px;
}

@media (max-width: 540px) {
  .app .up-tb-head {
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.25rem;
    padding-inline: 1.25rem;
  }

  main .up-tb-head + .table-wrapper {
    margin-inline: 1.25rem;
  }

  .up-tb-head input {
    width: auto;
  }
}