input {
  width: 287px;
  border-radius: 8px;
  border-bottom-width: 1px;
  border-color: var(--gray-10-neutral);
  border-style: solid;
  outline-color: var(--blue-primary);
}

input::placeholder {
  color: var(--gray-20-neutral);
}

.table-wrapper {
  /* overflow: auto; */
  border-radius: 8px;
  margin-inline: 2rem;
  margin-bottom: 5rem;
}

.table-wrapper table {
  width: 100%;
  background-color: var(--blue-primary);
}

table tbody tr, 
table tbody td {
  background-color: var(--white-neutral);
}

wbr + span {
  white-space: pre;
}

.table-wrapper tbody {
  background-color: var(--white-neutral);
}


.table-wrapper table tbody tr.open {
  box-shadow: 0 -1px 0 0 #00000020, /* Sombra no topo */
  -1px 0 0 0 #00000020, /* Sombra na esquerda */
  1px 0 0 0 #00000020;
}

/* Remover contornos das duas últimas linhas */
.table-wrapper tbody tr:not(:last-child) {
  box-shadow: 0 0 0 1px #00000020;
  outline: 1px solid #00000005;
}
/* para inserir na última visível = penultima quando está fechado */
.table-wrapper tbody tr:nth-last-child(2), 
.table-wrapper tbody tr:nth-last-child(1):not(.open) {
  box-shadow: 0 -1px 0 0 #00000020;
}

/* Bordas finais */
/* última linha geral */
table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}
table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

/* última linha quando fechada = penultima */

table tbody 
tr:nth-last-child(2):not(.open) td:nth-last-child(2) {
  border-bottom-left-radius: 8px;
}
table tbody 
tr:nth-last-child(2):not(.open) td:nth-last-child(1) {
  border-bottom-right-radius: 8px;
}

/* Padding e Largura das colunas */

tr th:not(:first-child):not(:last-child),
tr td:not(:first-child):not(:last-child) {
  padding-left: 2px;
  padding-right: 2px;
}

/* total 1330px na tela
/* total 960px */
/* width: 7.75rem; */
tr th:first-child, 
tr td:first-child {
  padding-top: 13.5px; 
  padding-bottom: 12.5px;
  padding-left: 2rem;
  padding-right: 4px;
  width: 12.916%;
}

/* width: 14.375rem; */
tr th:nth-child(2), 
tr td:nth-child(2) {
  width: 23.958%;
}

/* width: 187px; */
tr th:nth-child(3), 
tr td:nth-child(3) {
  width: 19.479%;
}

/* width: 216px */
tr th:nth-child(4), 
tr td:nth-child(4) {
  width: 22.5%;
}

tr th:last-child, 
tr td:last-child {
  padding-left: 4px;
  padding-right: 8px;
}

@media (max-width: 540px) {
  tr th:first-child, 
  tr td:first-child {
    padding-left: 1rem;
    width: 6%;
  }

  tr th:first-child:not(:only-child), 
  tr td:first-child:not(:only-child) {
    padding-right: 4px;
  }

  tr th:last-child, 
  tr td:last-child {
    padding-right: 1.5rem;
  }

  tr th:last-child:not(:only-child), 
  tr td:last-child:not(:only-child) {
    padding-left: 4px;
  }

  main .up-tb-head + .table-wrapper {
    margin-inline: 1.25rem;
  }
}

@media (max-width: 375px) {
  tr th:first-child, 
  tr td:first-child {
    width: 2.916%;
  }
}