.mobile-row.open{
  position: sticky;
  top: 0;
  z-index: 110;
  background-color: var(--white-neutral);
}

.mobile-row.open + .collapsible-row {
  position: sticky;
  top: var(--tbody-row-height);
  z-index: 100;
  background-color: var(--white-neutral);
}

.mobile-row .mobile-row-line h3 {
  margin-left: -8px;
}

.mobile-row .mobile-row-line .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-right: -7px;
}

.mobile-row .mobile-row-line img[alt="chevron-down"] {
  transition: .3s;
  cursor: pointer;
}

.mobile-row.open .mobile-row-line img[alt="chevron-down"] {
  transform: rotate(180deg);
}


/* Início da animação de Abertura e Fechamento Suave */

.mobile-row.open + .collapsible-row .collapsible-row-content { 
  max-height: 9999px;
  padding: var(--spc-md-1) var(--spc-rg-1);
}

.mobile-row.open + .collapsible-row td { 
  max-height: 9999px;
  padding-top: 13.5px;
  padding-bottom: 12.5px;
  padding-right: 1.5rem;
  padding-left: 1rem;

  /* Pode ser o box-shadow aqui */
  box-shadow: inset 0px 0px 1px 1px var(--gray-10-neutral);
}

.collapsible-row .collapsible-row-content {
  max-height: 0;
  padding: 0 var(--spc-rg-1);
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.4s ease;
}

.collapsible-row { 
  max-height: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  transition: height .3s ease, max-height 0.3s ease, padding 0.4s ease;
}
tr th:last-child, tr td:last-child {
  padding-block: 0;
}

/* Fim da animação de abertura e fechamento suave */

.collapsible-row h2 {
  font-family: 'Helvetica Neue';
  font-weight: 500;
  font-size: 16px;
  line-height: 19.54px;
  letter-spacing: 0;
}

.collapsible-row h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.09px;
  letter-spacing: 0;
  text-align: right;
}