input {
  width: 287px;
  border-radius: 8px;
  border-bottom-width: 1px;
  border-color: var(--gray-10-neutral);
  border-style: solid;
  outline-color: var(--blue-primary);
}

input::placeholder {
  color: var(--gray-20-neutral);
}

.table-wrapper {
  /* overflow: auto; */
  display: flex;
  border-radius: 8px;
  margin-inline: 2rem;
  margin-bottom: 5rem;
}

.table-wrapper table {
  background-color: var(--blue-primary);
}

wbr + span {
  white-space: pre;
}

.table-wrapper tbody {
  background-color: var(--gray-00-neutral);
}

.table-wrapper table tbody tr.open {
  box-shadow: inset 0px 0px 1px 1px var(--gray-10-neutral); 
}

/* Remover contornos das duas últimas linhas */
.table-wrapper tbody tr {
  box-shadow: inset 0px 0px 1px 1px var(--gray-10-neutral);
  outline: 1px solid #00000005;

  background-color: var(--white-neutral);
}

.table-wrapper tbody tr:last-child {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  /* Fundo cinza pra tirar a quina */
  background-color: var(--gray-00-neutral) !important;
}

.table-wrapper tbody tr:last-child td {
  /* Fundo branco */
  background-color: var(--white-neutral);
}

table tbody tr td .clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3em;
}

/* Bordas finais */
/* última linha geral */
table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
  border-left: solid 1px var(--gray-10-neutral);
}
table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
  border-right: solid 1px var(--gray-10-neutral);
}

/* última linha quando fechada = penultima */
@media (max-width: 540px) {
  table tbody 
  tr:nth-last-child(2):not(.open) td:nth-last-child(2) {
    border-bottom-left-radius: 8px;
  }
  table tbody 
  tr:nth-last-child(2):not(.open) td:nth-last-child(1) {
    border-bottom-right-radius: 8px;
  }

  table tbody tr:nth-last-child(2):not(.open) {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: border-bottom-left-radius 1s .2s, border-bottom-right-radius 1s .2s;

    /* Fundo cinza pra tirar a quina */
    background-color: var(--gray-00-neutral) !important;
  }

  /* Fundo branco */
  table tbody tr:nth-last-child(2):not(.open) td {
    background-color: var(--white-neutral);
  }

  /* Bordas pra imitar o box-shadow */
  table tbody tr:nth-last-child(2):not(.open) td:first-child {
    border-left: solid 1px var(--gray-10-neutral);
  } 
  table tbody tr:nth-last-child(2):not(.open) td:last-child {
    border-right: solid 1px var(--gray-10-neutral);
  }
/* Fim: Bordas pra imitar o box-shadow */

  /* tds border */
  table tbody 
  tr:nth-last-child(2):not(.open) 
  td:nth-last-child(2) {
    border-bottom-left-radius: 12px;
    transition: border-bottom-left-radius 1s .2s;
  }
  table tbody 
  tr:nth-last-child(2):not(.open) 
  td:nth-last-child(1) {
    border-bottom-right-radius: 12px;
    transition: border-bottom-right-radius 1s .2s;
  }
}

/* Padding e Largura das colunas */

tr th:not(:first-child):not(:last-child),
tr td:not(:first-child):not(:last-child) {
  padding-left: 4px;
  padding-right: 4px;
}

/* total 1330px na tela
/* total 960px */
/* width: 7.75rem; */
tr th:first-child, 
tr td:first-child {
  padding-top: 13.5px; 
  padding-bottom: 12.5px;
  padding-left: 2rem;
  padding-right: 8px;
  width: 12.916%;
}

/* width: 14.375rem; */
tr th:nth-child(2), 
tr td:nth-child(2) {
  width: 23.958%;
}

/* width: 187px; */
tr th:nth-child(3), 
tr td:nth-child(3) {
  width: 19.479%;
}

/* width: 216px */
tr th:nth-child(4), 
tr td:nth-child(4) {
  width: 22.5%;
}

tr th:last-child, 
tr td:last-child {
  padding-left: 4px;
  padding-right: 8px;
}

@media (max-width: 540px) {
  tr th:first-child, 
  tr td:first-child {
    padding-left: 1rem;
    width: 6%;
  }

  tr th:first-child:not(:only-child), 
  tr td:first-child:not(:only-child) {
    padding-right: 4px;
  }

  tr th:last-child, 
  tr td:last-child {
    padding-right: 1.5rem;
  }

  tr th:last-child:not(:only-child), 
  tr td:last-child:not(:only-child) {
    padding-left: 4px;
  }

  main .up-tb-head + .table-wrapper {
    margin-inline: 1.25rem;
  }
}

@media (max-width: 375px) {
  tr th:first-child, 
  tr td:first-child {
    width: 2.916%;
  }
}