@import '/src/styles/input.css';
@import '/src/styles/flex.css';
@import '/src/styles/spacing.css';
@import '/src/styles/fonts.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  font-family: Roboto;

  /* Colors */
  --blue-primary: #0500FF;
  --blue-10: #EDEFFB;
  --white-neutral: #FFFFFF;
  --gray-00-neutral: #F0F0F0;
  --gray-05-neutral: #F5F5F5;
  --gray-10-neutral: #DFDFDF;
  --gray-20-neutral: #9E9E9E;
  --black-neutral: #1C1C1C;

  /* Space */
  --spc-lt-1: 4px;
  --spc-lt-2: 8px;
  --spc-rg-1: 16px;
  --spc-rg-2: 20px;
  --spc-rg-3: 28px;
  --spc-md-1: 32px;
  --spc-md-2: 40px;
  --spc-md-3: 60px;
  --spc-md-4: 80px;
}

/* Typo */
h1 {
  font-size: 20px;
  font-weight: bold;
  font-family: Helvetica;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  font-family: Helvetica;
}

h3 {
  font-size: 16px;
  font-weight: normal;
  font-family: Helvetica;
}

.app {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--gray-00-neutral);
}

.app header {
  background-color: var(--white-neutral);
  height: 60px;
}

.app header svg {
  box-sizing: content-box;
  padding-top: 12.58px;
  padding-left: 21.41px;
  padding-bottom: 13.42px;
}

.app .up-tb-head {
  display: flex;
  justify-content: space-between;
  padding-block: 2rem;
  padding-left: 2rem;
  padding-right: 2.1875rem;
  gap: 2rem;
}

.app .up-tb-head h1 {
  font-size: 24px;
  margin: auto 0px;
}